h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    color: #66BFBF;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
    
}

.top-container {
    background-color: #FFA630;
    position: relative;
    padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.pro {
    text-decoration: underline;
}

.a-programmer {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}

.bottom-cloud {
    margin: 20;
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    margin: 20;
    padding-bottom: 20px;
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile-pic {
    height: 200px;
    width: 200px;
}

.my-description {
    line-height: 2;
}

a {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.coding-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.soup-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

